body {
    background-color: #202124;
    font-family: sans-serif;
    color: white;
}

pre {
    background-color: #151520;
    padding: 10px;
    border-radius: 5px;
}

a, a:visited {
    color: #5555ff;
}

.contents {
    width: 800px;
    margin: auto;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}